.new-collections{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 12rem;
  
  justify-content: center;
  margin-bottom: 100px;
  
  
}

.new-collections h2{
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.new-collections hr{
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
  
   
}
.collections{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
 gap: 30px;
 align-items: center;
 justify-content: center;

 

}

@media (max-width: 1250px){
  .new-collections{
      /* margin-top: 55rem; */
  }
  .collections{
    
    grid-template-columns: 1fr 1fr;
    
    gap: 50px;

   
   
  
  }
    
  }

  @media (max-width: 1060px){
    .new-collections{
        /* margin-top: 60rem; */
    }
  
      
    }

    @media (max-width: 910px){
      .new-collections{
          /* margin-top: 65rem; */
      }
    
    
        
      }

      @media (max-width: 850px){
        .new-collections{
            /* margin-top: 60rem; */
        }
        .new-collections h1{
        
          font-size: 30px;
          font-weight: 500;
        }

        .collections{
    
          grid-template-columns: 1fr ;
          
          gap: 35px;
        
        }
      
          
        }

        @media (max-width: 580px){
          .new-collections{
              /* margin-top: 68rem; */
          }
  
       
        
            
          }